@charset "UTF-8";
body {
    font: normal 1.5em Arial;
    background: linear-gradient(to right,rgba(0, 0, 255, 0.836), rgba(255, 0, 221, 0.575));
}

header {
    color: white;
    text-align: center;

}


section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}




input#botao {
    padding: 3px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}

input#botao:hover{
    background:linear-gradient(to right,rgba(0, 0, 255, 0.836), rgba(255, 0, 221, 0.575));
    padding: 4px;
    color: white;
}

footer {
    color: white;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    padding: 30px;
}